<footer class="footer">
  <div class="footer-container">
    <div class="footer-info">
      <h4>SmileBright Dental Clinic</h4>
      <p>123 Main Street, City, Country</p>
      <p>Phone: (123) 456-7890</p>
      <p>Email: info@smilebright.com</p>
    </div>
    <div class="footer-social">
      <a href="#" aria-label="Facebook"><img src="/assets/icons/facebook.svg" alt="Facebook" height="24"></a>
      <a href="#" aria-label="Instagram"><img src="/assets/icons/instagram.svg" alt="Instagram" height="24"></a>
      <a href="#" aria-label="Twitter"><img src="/assets/icons/twitter.svg" alt="Twitter" height="24"></a>
    </div>
    <div class="footer-copy">
      &copy; <%= new Date().getFullYear() %> SmileBright Dental Clinic. All rights reserved.
    </div>
  </div>
</footer> 