<nav class="navbar">
  <div class="navbar-container">
    <a href="/dashboard" class="navbar-logo">
      <img src="/assets/icons/tooth.svg" alt="Logo" height="32">
      SmileBright Admin
    </a>
    <ul class="navbar-links">
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/clients">Clients</a></li>
      <li><a href="/appointments">Appointments</a></li>
    </ul>
    <a href="/logout" class="navbar-cta" style="background: #e53935;">Logout</a>
  </div>
</nav> 